:root {
  --color-soil: #7f6c5f;
  --color-bark: #a58d7c;
  --color-sand: #e5d8ce;
  --color-white: #ffffff;
  --color-flame: #ff3f46;
  --color-bitcamp: #ff6f3f;
  --color-mango: #ffaf3f;
  --color-lemon: #ffef3f;
  --color-midnight: #1a2e33;
  --color-pine: #009051;
  --color-atlantic: #528ca5;
  --color-sky: #cbf2ff;
}
